.clock-header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid #eee 1px;
}

.clock-btn {
  width: 100%;
  &.clock-btn---start {
  }
}

.clock-progress {
  height: 34px !important;
  position: relative;
  margin-bottom: 0 !important;
  > div {
    line-height: 34px;
    height: 100%;
    background-color: #bbb !important;
  }
}

.clock-progress--tick {
  display: block;
  width: 100%;
  left: 0;
  position: absolute;
  text-align: center;
  font-weight: bold;
  line-height: 34px;
}

.clock-progress--close {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -10px;
  z-index: 100;
}

.clock-content {
  height: 200px;
  overflow-y: auto;
}

.clock-content--empty {
  height: 100%;
  line-height: 200px;
  text-align: center;
  font-size: 26px;
  color: #ddd;
}

.clock-content--block {

}

.clock-content--header {
  line-height: 25px;
}

.clock-content--date {
  font-size: 18px;
  font-weight: bold;
  color: #bbb;
}

.clock-content--total {
  color: #999;
}

.clock-content--list {
  margin: 0;
  padding-left: 20px;
  > li {
    margin: 10px;
  }
}

.clock-content--start, .clock-content--end {
  color: #999;
}

.clock-content--start {
  margin-right: 5px;
}

.clock-content--end {
  margin-left: 5px;
}

.clock-content--description {
  margin-left: 1em;
}
